@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./css/style.css -o ./dist/style.css --watch */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 400;
    list-style: none;
}

.hidden {
    display: none;
}

header {
    height: 650px;
    width: 100%;
    background-image: url("../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}


.header-banner {
    gap: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    padding: 0.5rem;
    border-radius: 11px;
    width: 80%;
}

body {
    background-color: #C6C6C6;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

.form-control {
    border: white 1px solid;
}


.tags-container {

    display: grid;
    gap: 1rem;
    padding: 2rem 0;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.active-tag {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    background: #FFD15B;
}

.tag {
    display: flex;
    justify-content: space-between;
    padding: 17px 18px;
    align-items: center;
    border-radius: 10px;
    background: #FFD15B;
    color: #000;
    font-size: 14px;
    max-height: 55px;
}

h1 {
    font-family: "Anton", sans-serif;
    color: #FFD15B;
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    padding: 1rem 6rem;
    background-color: C6C6C6;
    align-items: center;
}


h2 {
    font-family: Anton;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

h3 {
    color: #7A7A7A;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.time {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 5px 15px;
    font-size: 12px;
    color: #1B1B1B;
    background-color: #FFD15B;
    border-radius: 14px;
}

p,
li {
    color: #1B1B1B;
    font-size: 14px;

}

ul {
    gap: .5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.quantity {
    color: #7A7A7A;
    font-size: 14px;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 6rem;
    padding: 2rem 0;
    width: 100%;
    justify-content: space-between;
}

.recipe-info {
    display: flex;
    padding: 25px;
    gap: 1.5rem;
    flex-direction: column;
}

.recipe-card {
    width: 380px;
    height: 731px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}


.recipe-section>p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}

.menu {
    display: flex;
    padding: 17px 16px;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    width: 195px;
}

.menu-close {
    border-radius: 11px;
}

.menu-open {
    border-radius: 11px 11px 0 0;
}

#menuItems {
    width: 195px;
    height: 315px;
    background: #FFF;
    overflow-y: scroll;
}

#searchInputIngredients,
#searchInputAppliance,
#searchInputUstensils {
    border-radius: 2px;
    border: 1px solid #C6C6C6;
    margin: 9px 16px;
    max-width: fit-content;
    max-width: -moz-available;
    padding-right: 30px;
}

.dropdown-list {
    padding: 9px 16px;
}

.dropdown-list:hover {
    background-color: #FFD15B;
}

.active-tag {
    display: flex;
}

.nbr-recipes {

    color: #1B1B1B;
    font-family: Anton;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tags-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .tags-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 66px;
    }
}

.img-recipes {
    width: 380px;
    height: 253px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.loop {
    position: absolute;
    top: 25px;
    right: 25px;
}

@media (max-width: 1450px) {
    .recipes-container {
        grid-template-columns: repeat(2, 380px);
    }
}

@media (max-width: 900px) {
    .recipes-container {
        grid-template-columns: repeat(1, 380px);
    }
}